<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
</head>
<body>
<div >
  <form [formGroup]="rForm" (ngSubmit)="registerUser(rForm.value)">
    <div class="form-container">
      <div class="row columns">

        <h1>Registration Form</h1>

        <label>Username
          <input type="text" formControlName="userName">
        </label>
        <div class="alert" *ngIf="!rForm.controls['userName'].valid && rForm.controls['userName'].touched">{{ reqAlert }}</div>

        <label>Password
          <input type="text" formControlName="password">
        </label>
        <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">{{ reqAlert }}</div>

        <label>Email
          <input type="text" formControlName="email">
        </label>
        <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">{{ reqAlert }}</div>

        <label>Firstname
          <input type="text" formControlName="firstName" minlength="3">
        </label>


        <label>Lastname
          <input type="text" formControlName="lastName"  minlength="3">
        </label>

        <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div>

</body>
</html>
