<!--
<h1> Hello {{name}}</h1>
<p> Email : {{email}}</p>

<p>
  Address : {{address.street}}
  {{address.city}}
  {{address.postcode}}
</p>

<button (click)="toggleRoles()">{{showRoles ? "Hide Roles!" : "Show Roles!"}}</button>
<div *ngIf="showRoles">
  <ul>
    <li *ngFor="let role of roles; let i = index">
      {{role}}
      <button (click)="deleteRole(i)">X</button>
    </li>
  </ul>

  <form (submit)="addRole(role.value)">
    <label>Add role: </label> <br/>
    <input type="text" #role/> <br/>
  </form>

</div>
<h3> Edit user</h3>
<form>
  <label>Name: </label> <br/>
  <input type="text" name="name" [(ngModel)]="name"/> <br/>

  <label>Email: </label> <br/>
  <input type="text" name="email" [(ngModel)]="email"/> <br/>

  <label>City: </label> <br/>
  <input type="text" name="address.city" [(ngModel)]="address.city"/> <br/>

  <label>Postcode</label> <br/>
  <input type="text" name="address.postcode" [(ngModel)]="address.postcode"/> <br/>

</form>

<div >
  <form [formGroup]="userForm" (ngSubmit)="registerUser(rForm.value)">
        <input type="submit" class="button expanded" value="Fetch!">

  </form>
</div>
-->

<h3> Users from Spring boot app </h3>
<div *ngFor="let user of users">
  <p>Username : {{user.userName}}</p>
  <p>email : {{user.email}}</p>
</div>
